@use 'color-theme-variables' as theme;

.layout-container-main {
    padding: 20px;
}

.page-title {
    text-align: center;
    padding: 10px;
    color: theme.$page-title-text-color;
    background: theme.$page-title-background-color;
}

@media print {
    .no-print {
        display:none;
    }
}
@media screen {
    .only-print {
        display: none;
    }
}