@use 'bootstrap';
@use 'variables';
@use 'color-theme-variables';
@use 'logo';
@use 'layout';
@use 'header';
@use 'footer';
@use 'home';
@use 'proficiencies';
@use 'testimonials';
@use 'stranger-things';
@use 'create-contract';

.app {
  text-align: center;
}

.app-header {
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
